@import "~antd/dist/antd.css";
@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  box-sizing: border-box;
}
body {
  background-color: rgb(249, 249, 249);
}
.App {
  display: grid;
  grid-template-columns: 1.5fr 5fr;
  grid-template-rows: 1.3fr 6fr;
}

header {
  grid-column: 1/4;
}

@media (max-width:767px) {
  .App{
    display: flex;
    flex-direction: column;
  }

}